<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>{% block title %}User Records{% endblock %}</title>

        <!-- Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body class="ur-dark">
        <div id="app">
            <div v-if="createMessage" class="ur-message">
                [[ createMessage ]]
            </div>

            <div class="ur-search-container">
                <input
                    id="ur-search"
                    v-model="query"
                    @input="onSearchInput"
                    type="text"
                    class="ur-pill"
                    placeholder="Search for a user..."
                    autocomplete="off"
                >

                <div v-if="openResultsDropdown" class="ur-dropdown ur-pill">
                    <template v-if="results.length">
                        <div
                            v-for="userRecord in results"
                            :key="userRecord.id"
                            class="ur-result"
                            @click="addUserRecord(userRecord)"
                        >
                            <span v-html="highlightSearch(userRecord.first_name + ' ' + userRecord.last_name)"></span>
                        </div>
                    </template>
                </div>
            </div>

            <div class="ur-selected-container">
                <div class="ur-selected-container" v-if="selectedUserRecords.length">
                    <div
                        v-for="selectedUserRecord in selectedUserRecords"
                        :key="selectedUserRecord.id"
                        class="ur-card"
                    >
                        <div class="ur-card-name">
                            [[ selectedUserRecord.first_name ]] [[ selectedUserRecord.last_name ]]
                        </div>

                        <div class="ur-card-detail" v-if="selectedUserRecord.job_title">
                            [[ selectedUserRecord.job_title ]]
                        </div>

                        <div class="ur-card-detail" v-if="selectedUserRecord.email">
                            [[ selectedUserRecord.email ]]
                        </div>

                        <div class="ur-card-detail" v-if="selectedUserRecord.phone">
                            [[ selectedUserRecord.phone ]]
                        </div>
                    </div>
                </div>
            </div>

            <div class="ur-create">
                <div v-if="showCreateForm">
                    {% include "user_record_create.html" %}
                </div>

                <div class="ur-create-button-container">
                    <button type="button" class="ur-button" @click="showCreateForm = !showCreateForm">
                        New User +
                    </button>
                </div>
            </div>
        </div>

        <script>
            const { createApp } = Vue;

            createApp({
                delimiters: ['[[', ']]'],
                data() {
                    return {
                        query: '',
                        results: [],
                        selectedUserRecords: [],
                        debounceTimer: null,
                        showCreateForm: false,

                        createMessage: '',

                        createForm: {
                            first_name: '',
                            last_name: '',
                            job_title: '',
                            phone: '',
                            email: '',
                        }
                    };
                },
                computed: {
                    openResultsDropdown() {
                        return this.results.length >= 1;
                    }
                },
                methods: {
                    onSearchInput() {
                        clearTimeout(this.debounceTimer);

                        const q = this.query.trim();

                        if (q.length < 2) {
                            this.results = [];
                            return;
                        }

                        this.debounceTimer = setTimeout(() => {
                            this.searchUserRecords();
                        }, 500);
                    },
                    async searchUserRecords() {
                        const q = this.query.trim();

                        if (q.length < 2) {
                            this.results = [];
                            return;
                        }

                        try {
                            const response = await fetch("{% url 'api_user_record_search' %}" + `?q=${q}`);
                            const data = await response.json();

                            const selectedIds = new Set(this.selectedUserRecords.map(c => c.id));
                            this.results = data.filter(c => !selectedIds.has(c.id));
                        } catch (error) {
                            console.error('Search failed:', error);
                            this.results = [];
                        }
                    },
                    highlightSearch(text) {
                        if (!this.query) return text;

                        const q = this.query.trim();
                        const regex = new RegExp(`(${q})`, 'gi');

                        return text.replace(regex, "<span class='highlight_search'>$1</span>");
                    },
                    addUserRecord(userRecord) {
                        const exists = this.selectedUserRecords.some(c => c.id === userRecord.id);
                        if (!exists) {
                            this.selectedUserRecords.push(userRecord);
                        }
                        this.query = '';
                        this.results = [];
                    },
                    async submitCreateForm() {
                        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                        const formData = new URLSearchParams();
                        formData.append('first_name', this.createForm.first_name);
                        formData.append('last_name', this.createForm.last_name);
                        formData.append('job_title', this.createForm.job_title);
                        formData.append('phone', this.createForm.phone);
                        formData.append('email', this.createForm.email);

                        try {
                            const response = await fetch("{% url 'user_record_create' %}", {
                                method: "POST",
                                headers: {
                                    "X-CSRFToken": csrfToken,
                                    "Content-Type": "application/x-www-form-urlencoded",
                                },
                                body: formData.toString(),
                            });

                            const data = await response.json();

                            if (data.success) {
                                this.createMessage = "New user added!";

                                this.createForm = {
                                    first_name: '',
                                    last_name: '',
                                    job_title: '',
                                    phone: '',
                                    email: '',
                                };

                                this.showCreateForm = false;
                            } else {
                                let errorMsg = '';

                                Object.entries(data.errors).forEach(([field, errors]) => {
                                    errors.forEach(err => {
                                        errorMsg += `${field}: ${err}\n`;
                                    });
                                });

                                this.createMessage = errorMsg;
                            }
                        } catch (error) {
                            this.createMessage = "Server error. Please try again.";
                        } finally {
                            setTimeout(() => {
                                this.createMessage = '';
                            }, 5000);
                        }
                    }
                }
            }).mount('#app');
        </script>
    </body>
</html>
